#nav-bar {
    position: fixed;
    height: 80px;
    width: 100%;    
    padding-left: 2em;
    padding-right: 2em;
    background-color: #00a087;
    top: 0px;
}

#nav-bar .header {
    padding-top: 0;
    padding-bottom: 0;
    color: #e8fdff;
    left: 0px;
    line-height: 2.5;   
    font-size: 200%;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}
